Flask==0.10.1
Flask-Script==2.0.5
Flask-Testing==0.4.2
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.11.2
conda==3.18.3
conda-env==2.4.4
coverage==4.0.2
gunicorn==19.3.0
itsdangerous==0.24
pycosat==0.6.1
pycrypto==2.6.1
requests==2.8.1
wheel==0.26.0
wsgiref==0.1.2
